[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
psycopg2-binary = "*"
boto3 = "*"
collectfast = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.10"
